
            
            <section class="wrap" role="a8l">
                <figure class="youtube" style="background-image:url(https://img.youtube.com/vi/bQ7ei6uuFtk/hqdefault.jpg)">
                    <div id="player1" data-vid="bQ7ei6uuFtk"></div>
                </figure>
                <figure class="youtube" style="background-image:url(https://img.youtube.com/vi/9BfR2SYGtGg/hqdefault.jpg)">
                    <div id="player2" data-vid="9BfR2SYGtGg"></div>
                </figure>
            </section>