
            <aside role="a8l">
                <section class="wrap">
                    <figure class="background visible-xs" style="background-image:url(img/autoshow/A8L640.jpg)">
                    </figure>
                    <a data-ga-m="Mobile_A8L_Remote_Parking_Pilot_Video_Play_Btn" class="poster1 visible-xs" href="javascript:" data-vid="AyDJceceViQ">
                        <img src="img/autoshow/poster1-640.jpg">
                    </a>
                    <figure data-ga="PC_A8L_Traffic_Jam_Pilot_Video_Play_Btn" class="youtube tech inter" style="background-image:url(img/A8L/poster1.jpg)">
                        <div id="player1" data-vid="AyDJceceViQ"></div>
                        <figcaption>
                            <aside>
                                <h4>科技</h4>
                                <h5>Audi AI traffic jam pilot <br>塞車自動駕駛輔助系統</h5>
                                <p>Audi推出全新Level 3自動駕駛技術，<br class="visible-xs">當駕駛行駛在高速公路符合時速60公里以下，<br class="visible-xs">遇到交通阻塞時，<br class="visible-xs">只需按下Audi AI功能鍵系統將完全接管車輛，<br class="visible-xs">自主完成加速、減速和轉向等駕駛操作。</p>
                            </aside>
                        </figcaption>
                    </figure>
                    <a data-ga-m="Mobile_A8L_Assistance_Systems_Video_Play_Btn" class="poster2 visible-xs" href="javascript:" data-vid="EkT_4EG1NcI">
                        <img src="img/autoshow/poster2-640.jpg">
                    </a>
                    <figure data-ga="PC_A8L_Remote_Parking_Pilot_Video_Play_Btn" class="assistant youtube inter" style="background-image:url(img/A8L/poster2.jpg)">
                        <div id="player2" data-vid="EkT_4EG1NcI"></div>
                        <figcaption>
                            <aside>
                                <h5>Audi AI remote parking pilot 自動停車輔助系統</h5>
                                <p>駕駛者只要沿著路邊行駛，系統會自動搜尋適合的停車位，並針對左右兩側進行掃描，找到適當車位時，螢幕顯示判讀的車位位置，切換進退檔位，完成停車動作。除了停車輔助之外，駕駛者更可下車操作手機遙控停車。</p>
                            </aside>
                        </figcaption>
                    </figure>
                    <a data-ga-m="Mobile_A8L_Assistance_Systems_Video_Play_Btn" class="poster3 visible-xs" href="javascript:" data-vid="fJGo8XNahLY">
                        <img src="img/autoshow/poster3-640.jpg">
                    </a>
                    <!-- <figure class="km inter" style="background-image:url(img/A8L/km.jpg)">
                        <figcaption>
                            <aside>
                                <h5>更多A8 L的 智能科技</h5>
                                <ol>
                                    <li>ACC 主動式定速巡航控制系統</li>
                                    <li>Audi traffic jam assist 塞車輔助系統</li>
                                    <li>Audi pre sense 預警式安全防護系統（含前方，後方，及都會預警式安全防護系統）</li>
                                    <li>Audi active lane assist 主動式車道偏離警示系統</li>
                                    <li>Audi side assist 車道變換輔助系統</li>
                                    <li>Audi park assist 智慧型自動停車輔助系統</li>
                                    <li>Audi rear cross traffic assist 後方橫向車流警示</li>
                                </ol>
                            </aside>
                        </figcaption>
                    </figure> -->
                    <figure class="look">
                        <figure class="inter lt hidden-xs"  style="background-image:url(img/autoshow/look/1.jpg)">
                        </figure>
                        <figure class="inter rt w hidebg-xs"  style="background-image:url(img/autoshow/look/2.jpg)">
                            <figcaption>
                                <aside>
                                    <h4>外觀</h4>
                                    <h5>馭風先行   超時代完美刻劃</h5>
                                    <p>加寬Audi單體式盾型水箱護罩、動感車頂弧線和雙門跑車般的車側輪廓剪影，與絕不錯認的 quattro 架構元素</p>
                                </aside>
                            </figcaption>
                        </figure>
                        <figure data-ga="PC_A8L_Exterior_Video_Play_Btn" class="youtube inter lb w hidden-xs" style="background-image:url(img/autoshow/look/3.jpg)">
                            <div id="player3" data-vid="fJGo8XNahLY"></div>
                        </figure>
                        <figure class="inter rb hidden-xs"  style="background-image:url(img/autoshow/look/4.jpg)"></figure>
                    </figure>
                    <!-- <a data-ga-m="Mobile_A8L_Exterior_Video_Play_Btn" class="poster4 visible-xs" href="javascript:" data-vid="dMfFL0kSytU">
                        <img src="img/autoshow/poster4-640.jpg">
                    </a> -->
                    <!-- <a class="poster4 visible-xs">
                        <img src="img/autoshow/inside/2.jpg">
                    </a> -->
                    <figure class="inside">
                        <figure class="inter lt hidden-xs"  style="background-image:url(img/autoshow/inside/1.jpg)">
                        </figure>
                        <figure class="inter rt w hidebg-xs"  style="background-image:url(img/autoshow/inside/2.jpg)">
                            <figcaption>
                                <aside>
                                    <h4>內裝</h4>
                                    <h5>超凡享受   動靜盡顯領袖風範</h5>
                                    <p>大面積車門方便進出車輛，任何座位都享有奢華寬敞空間。頂級舒適座椅，充裕伸展頭部與腿部空間，提供嶄新空間感受。</p>
                                </aside>
                            </figcaption>
                        </figure>
                        <!-- <figure data-ga="PC_A8L_Interior_Video_Play_Btn" class="youtube inter lb w hidden-xs" style="background-image:url(img/autoshow/inside/3.jpg)">
                            <div class="subitem">
                                <div id="player4" data-vid="dMfFL0kSytU"></div>
                            </div>
                        </figure> -->
                        <figure class="inter lb w hidden-xs" style="background-image:url(img/autoshow/inside/3.jpg)">
                        </figure>
                        <figure class="inter rb hidden-xs"  style="background-image:url(img/autoshow/inside/4.jpg)">
                        </figure>
                    </figure>
                </section>
                <label data-ga="PC_A8L_Back_Btn" data-ga-m="Mobile_A8L_Back_Btn" for="autoshow0101" class="back">
                    <img src="img/A8L/back.svg">
                </label>
                <h1 class="visible-xs logo">
                    <a data-ga-m="Mobile_Homepage_Btn" data-ga="PC_Homepage_Btn" href="./"><img data-src="img/logo.svg"></a>
                </h1>
                <figure class="scroll hidden-xs">
                    <img src="img/scroll.png">
                </figure>
            </aside>