
            
            <section class="wrap" role="a8l">
                <figure class="youtube" style="background-image:url(https://img.youtube.com/vi/bQ7ei6uuFtk/hqdefault.jpg)">
                    <div id="player1" data-vid="bQ7ei6uuFtk"></div>
                    <h4>科技</h4>
                    <h5>AI智能趨勢   路上移動極景</h5>
                    <p>Audi推出全新Level 3自動駕駛技術，當駕駛行駛在高速公路符合時速60公里以下，遇到交通阻塞時，
                            只需按下Audi AI功能鍵系統將完全接管車輛，自主完成加速、減速和轉向等駕駛操作。</p>
                </figure>
                <figure class="youtube" style="background-image:url(https://img.youtube.com/vi/9BfR2SYGtGg/hqdefault.jpg)">
                    <div id="player2" data-vid="9BfR2SYGtGg"></div>
                </figure>
            </section>