
            <section role="autoshow" class="section" data-nav="AUTOSHOW">
                <input class="hide" type="radio" id="autoshow01" name="autoshow" checked>
                <input class="hide" type="radio" id="autoshow02" name="autoshow">
                <input class="hide" type="radio" id="autoshow03" name="autoshow">
                <input class="hide" type="radio" id="autoshow04" name="autoshow">
                <input class="hide" type="radio" id="autoshow0101" name="autoshowDetail" checked>
                <input class="hide" type="radio" id="autoshow01011" name="autoshowDetail">
                <input class="hide" type="radio" id="autoshow0201" name="autoshowDetail">
                <input class="hide" type="radio" id="autoshow0202" name="autoshowDetail">
                <input class="hide" type="radio" id="autoshow0203" name="autoshowDetail">
                <input class="hide" type="radio" id="autoshow0204" name="autoshowDetail">
                <input class="hide" type="radio" id="autoshow0205" name="autoshowDetail">
                <input class="hide" type="radio" id="autoshow0206" name="autoshowDetail">
                <input class="hide" type="radio" id="autoshow0207" name="autoshowDetail">
                <input class="hide" type="radio" id="autoshow0208" name="autoshowDetail">
                <input class="hide" type="radio" id="autoshow0209" name="autoshowDetail">
                <input class="hide" type="radio" id="autoshow0301" name="autoshowDetail">
                <input class="hide" type="radio" id="autoshow0302" name="autoshowDetail">
                <input class="hide" type="radio" id="autoshow0401" name="autoshowDetail">
                <figure class="background hidden-xs">
                    <figure data-car-name="A8 L" data-id="autoshow0101" id="a8" data-src="https://img.youtube.com/vi/meIoN4eEi_Y/hqdefault.jpg">
                        <aside class="yt">
                            <div id="player" data-vid="meIoN4eEi_Y"></div>
                        </aside>
                    </figure>
                    <figure data-car-name="SQ5" data-id="autoshow0201" data-src="img/autoshow/02/SQ5.jpg"></figure>
                    <figure data-car-name="SQ7" data-id="autoshow0202" data-src="img/autoshow/02/SQ7.jpg"></figure>
                    <figure data-car-name="S3 Sportback" data-id="autoshow0203" data-src="img/autoshow/02/S3-Sportback.jpg"></figure>
                    <figure data-car-name="S4 Avant" data-id="autoshow0204" data-src="img/autoshow/02/S4-Avant.jpg"></figure>
                    <figure data-car-name="S5 Sportback" data-id="autoshow0205" data-src="img/autoshow/02/S5-Sportback.jpg"></figure>
                    <figure data-car-name="RS 5 Coupé" data-id="autoshow0206" data-src="img/autoshow/02/RS-5-Coupé.jpg"></figure>
                    <figure data-car-name="RS 6 Avant performance" data-id="autoshow0207" data-src="img/autoshow/02/RS-6-Avant-performance.jpg"></figure>
                    <figure data-car-name="R8 V10 plus" data-id="autoshow0208" data-src="img/autoshow/02/R8-V10-plus.jpg"></figure>
                    <figure data-car-name="TTS" data-id="autoshow0209" data-src="img/autoshow/02/TTS.jpg"></figure>
                    <figure data-car-name="Audi Sport quattro S1" data-id="autoshow0301" data-src="img/autoshow/03/S1.jpg"></figure>
                    <figure data-car-name="Auto Union Type C" data-id="autoshow0302" data-src="img/autoshow/03/Auto-Union.jpg"></figure>
                    <figure data-car-name="SQ5" data-id="autoshow0401" data-src="img/autoshow/02/SQ5.jpg"></figure>
                </figure>
                <figure class="background visible-xs">
                        <figure  data-src="img/autoshow/background640.jpg"></figure>
                </figure>
                <aside class="viewport">
                    <aside class="title">
                        <figure class="background" data-src="img/autoshow/title-bg.png">
                        </figure>
                        <span>Taipei / Kaohsiung</span><br>
                        <h2>Auto Show</h2> 
                    </aside>
                    <aside class="menu">
                        <label for="autoshow01">01.<br><span>AI車款</span>
                        </label><label for="autoshow02">02.<br><span>性能車款</span>
                        </label><label for="autoshow03">03.<br><span>經典車款</span>
                        </label><label for="autoshow04">04.<br><span>性能車款</span></label>
                        <div class="clearfix"></div>
                        <aside class="submenu01 submenu hidden-xs"> 
                            <a class="vbox" data-gall="gall-frame" data-vbtype="inline" href="#a8l"></a><label for="autoshow01011">A8 L</label>
                        </aside>
                        <aside class="submenu02 submenu hidden-xs"> 
                            <label for="autoshow0201">SQ5</label>
                            <label for="autoshow0202">SQ7</label>
                            <label for="autoshow0203">S3 Sportback</label>
                            <label for="autoshow0204">S4 Avant</label>
                            <label for="autoshow0205">S5 Sportback</label>
                            <label for="autoshow0206">RS 5 Coupé</label>
                            <label for="autoshow0207">RS 6 Avant performance</label>
                            <label for="autoshow0208">R8 V10 plus</label>
                            <label for="autoshow0209">TTS</label>
                        </aside>
                        <aside class="submenu03 submenu hidden-xs"> 
                            <label for="autoshow0301">Audi Sport quattro S1</label>
                            <label for="autoshow0302">Auto Union Type C</label>
                        </aside>
                        <aside class="submenu04 submenu hidden-xs"> 
                            <label for="autoshow0401">A8 L</label>
                        </aside>
                    </aside>
                    <aside class="summary text-right" >
                        <aside class="vertical-bottom subitem" data-id="autoshow0101">
                            <figure class="bg visible-xs" data-src="img/autoshow/640/01/A8L.jpg"></figure>
                            <aside>
                                <h4>A8 L</h4>
                                <p>
                                    首席之韻<br>
                                    獨俱動感的前衛指標
                                </p>
                                <a class="vertical-middle" href="javascript:"><img data-src="img/car.svg">規格表</a>
                            </aside>
                        </aside>
                        <aside class="vertical-bottom subitem" data-id="autoshow0201">
                            <figure class="bg visible-xs" data-src="img/autoshow/640/02/SQ5.jpg"></figure>
                            <aside>
                                <h4>SQ5</h4>
                                <p>
                                    狂悍馭望  隨心而動
                                </p>
                                <a class="vertical-middle" href="javascript:"><img data-src="img/car.svg">規格表</a>
                            </aside>
                        </aside>
                        <aside class="vertical-bottom subitem" data-id="autoshow0202">
                            <figure class="bg visible-xs" data-src="img/autoshow/640/02/SQ7.jpg"></figure>
                            <aside>
                                <h4>SQ7</h4>
                                <p>
                                    電子震撼  登峰造極
                                </p>
                                <a class="vertical-middle" href="javascript:"><img data-src="img/car.svg">規格表</a>
                            </aside>
                        </aside>
                        <aside class="vertical-bottom subitem" data-id="autoshow0203">
                            <figure class="bg visible-xs" data-src="img/autoshow/640/02/S3-Sportback.jpg"></figure>
                            <aside>
                                <h4>S3 Sportback</h4>
                                <p>
                                    極緻快感
                                </p>
                                <a class="vertical-middle" href="javascript:"><img data-src="img/car.svg">規格表</a>
                            </aside>
                        </aside>
                        <aside class="vertical-bottom subitem" data-id="autoshow0204">
                            <figure class="bg visible-xs" data-src="img/autoshow/640/02/S4-Avant.jpg"></figure>
                            <aside>
                                <h4>S4 Avant</h4>
                                <p>
                                    強烈的跑車本色
                                </p>
                                <a class="vertical-middle" href="javascript:"><img data-src="img/car.svg">規格表</a>
                            </aside>
                        </aside>
                        <aside class="vertical-bottom subitem" data-id="autoshow0205">
                            <figure class="bg visible-xs" data-src="img/autoshow/640/02/S5-Sportback.jpg"></figure>
                            <aside>
                                <h4>S5 Sportback</h4>
                                <p>
                                    驚嘆的運動性能  驚艷世人目光
                                </p>
                                <a class="vertical-middle" href="javascript:"><img data-src="img/car.svg">規格表</a>
                            </aside>
                        </aside>
                        <aside class="vertical-bottom subitem" data-id="autoshow0206">
                            <figure class="bg visible-xs" data-src="img/autoshow/640/02/RS-5-Coupé.jpg"></figure>
                            <aside>
                                <h4>RS 5 Coupé</h4>
                                <p>
                                    讓速度與美完美融合
                                </p>
                                <a class="vertical-middle" href="javascript:"><img data-src="img/car.svg">規格表</a>
                            </aside>
                        </aside>
                        <aside class="vertical-bottom subitem" data-id="autoshow0207">
                            <figure class="bg visible-xs" data-src="img/autoshow/640/02/RS-6-Avant-performance.jpg"></figure>
                            <aside>
                                <h4>RS 6 Avant <br class="visible-xs">performance</h4>
                                <p>
                                    除了極限  沒有界限
                                </p>
                                <a class="vertical-middle" href="javascript:"><img data-src="img/car.svg">規格表</a>
                            </aside>
                        </aside>
                        <aside class="vertical-bottom subitem" data-id="autoshow0208">
                            <figure class="bg visible-xs" data-src="img/autoshow/640/02/R8-V10-plus.jpg"></figure>
                            <aside>
                                <h4>R8 V10 plus</h4>
                                <p>
                                    挑戰極致性能巔峰
                                </p>
                                <a class="vertical-middle" href="javascript:"><img data-src="img/car.svg">規格表</a>
                            </aside>
                        </aside>
                        <aside class="vertical-bottom subitem" data-id="autoshow0209">
                            <figure class="bg visible-xs" data-src="img/autoshow/640/02/TTS.jpg"></figure>
                            <aside>
                                <h4>TTS</h4>
                                <p>
                                    全速啟動
                                </p>
                                <a class="vertical-middle" href="javascript:"><img data-src="img/car.svg">規格表</a>
                            </aside>
                        </aside>
                        <aside class="vertical-bottom subitem" data-id="autoshow0301">
                            <figure class="bg visible-xs" data-src="img/autoshow/640/03/S1.jpg"></figure>
                            <aside>
                                <h4>Audi Sport <br class="visible-xs">quattro S1</h4>
                                <p>
                                    運動性能風潮
                                </p>
                                <a class="vertical-middle" href="javascript:"><img data-src="img/car.svg">規格表</a>
                            </aside>
                        </aside>
                        <aside class="vertical-bottom subitem" data-id="autoshow0302">
                            <figure class="bg visible-xs" data-src="img/autoshow/640/03/Auto-Union.jpg"></figure>
                            <aside>
                                <h4>Auto Union <br class="visible-xs">Type C</h4>
                                <p>
                                    永垂不朽的經典刻劃
                                </p>
                                <a class="vertical-middle" href="javascript:"><img data-src="img/car.svg">規格表</a>
                            </aside>
                        </aside>
                        <aside class="vertical-bottom subitem" data-id="autoshow0401">
                            <figure class="bg visible-xs" data-src="img/autoshow/640/02/SQ5.jpg"></figure>
                            <aside>
                                <h4>Auto Union Type C</h4>
                                <p>
                                    永垂不朽的經典刻劃
                                </p>
                                <a class="vertical-middle" href="javascript:"><img data-src="img/car.svg">規格表</a>
                            </aside>
                        </aside>
                    </aside>
                </aside>
			    @@include('A8L.html')
            </section>