
            <section role="promotion" class="section" data-nav="促銷專案">
                <input class="hide" type="radio" id="promo1" name="promo" checked>
                <input class="hide" type="radio" id="promo2" name="promo">
                <figure class="background">
                    <figure data-for="promo1" class="hidden-xs" data-src="img/promotion/background-1.jpg">
                        <h3>即刻入主Audi「經典榮耀專案」車款：<br>
                            Audi A3、A4、 A5、Q2、Q5、Q7<br>
                            即享</h3>
                            <figcaption>
                                <a href="javascript:" target="_blank">瞭解更多</a>
                                <sub>※ 經典榮耀專案Audi Q2僅適用一年丙式險方案</sub>
                            </figcaption>
                        <label for="promo2"><figure class="scroll" data-src="img/promotion/scroll1.png"></figure></label>
                    </figure>
                    <figure data-for="promo2" class="hidden-xs" data-src="img/promotion/background-2.jpg">
                        <figcaption>
                            <h3>Audi新年特仕：<br>
                                A4 Avant、A5 Sportback、A6 Sedan / Avant、Q2、Q5、Q7<br>
                                均搭載</h3>
                            <aside class="slick">
                                <figure data-src="img/promotion/slide1.png"></figure>
                                <figure data-src="img/promotion/slide2.png"></figure>
                                <figure data-src="img/promotion/slide3.png"></figure>
                                <figure data-src="img/promotion/slide4.png"></figure>
                            </aside>
                            <h3 class="text-center">科技配備全面升級！</h3>
                            <nav>
                                <a href="javascript:">瞭解更多</a>
                                <aside>規格表
                                    <aside class="sub">
                                        <a href="javascript:" target="_blank">A4 Avant</a>
                                        <a href="media/S5-Sportback/specsheet.pdf" target="_blank">A5 Sportback</a>
                                        <a href="javascript:" target="_blank">A6 Sedan / Avant</a>
                                        <a href="javascript:" target="_blank">Q2</a>
                                        <a href="media/SQ5/specsheet.pdf" target="_blank">Q5</a>
                                        <a href="media/SQ7/specsheet.pdf" target="_blank">Q7</a>
                                    </aside>
                                </aside>
                            </nav>
                            <sub>※ 詳情請洽Audi全台展示中心 </sub>
                        </figcaption>
                        <label for="promo1"><figure class="scroll" data-src="img/promotion/scroll2.png"></figure></label>
                    </figure>
                </figure>
                <aside class="viewport">
                </aside>
                <figure class="tabline"></figure>
            </section>