
            <section role="whatsnew" class="section" data-nav="活動辦法">
                <figure class="background">
                    <figure id="a8" class="hidden-xs" data-src="img/whatsnew/background.jpg"></figure>
                    <figure id="a8640" class="visible-xs" data-src="img/whatsnew/background640.jpg"></figure>
                    <figure id="kh" data-src="img/whatsnew/kh.png"><i>Kaohsiung</i></figure>
                    <figure id="tp" data-src="img/whatsnew/tp.png"><i>Taipei</i></figure>
                </figure>
                <aside class="viewport">
                    <aside class="title">
                        <figure class="background" data-src="img/autoshow/title-bg.png">
                        </figure>
                        <span>What's New</span><br>
                        <h2>Auto Show</h2> 
                    </aside>
                    <aside class="show-detail">
                        <aside class="row">
                            <h3 class="col-md-2 col-xs-12 col-sm-12"><span class="l">2018</span><br><b title="台北">台北</b>世界<br class="hidden-xs">新車大展</h3>
                            <ul class="col-md-10 col-xs-12 col-sm-12">
                                <li>
                                    <b>展出地點</b><span> / <br class="visible-xs">台北南港展覽館1F & 4F <br class="visible-xs"> (台北市南港區經貿二路1號)</span>
                                </li>
                                <li>
                                    <b>展出日期</b><span> / <br class="visible-xs">2017/12/30(六) 至 2018/01/07 (日)</span>
                                </li>
                                <li>
                                    <b>展出時間</b><span> / <br class="visible-xs">10:00~18:00</span>
                                </li>
                            </ul>
                        </aside>
                        <aside class="row">
                            <h3 class="col-md-2 col-xs-12 col-sm-12"><span class="l">2018</span><br><b title="高雄">高雄</b>世界<br class="hidden-xs">新車大展</h3>
                            <ul class="col-md-10 col-xs-12 col-sm-12">
                                <li>
                                    <b>展出地點</b><span> / <br class="visible-xs">高雄展覽館 <br class="visible-xs">(高雄市前鎮區成功二路39號)</span>
                                </li>
                                <li>
                                    <b>展出日期</b><span> / <br class="visible-xs">2018/1/12 (五) 至 2018/01/15 (一)</span>
                                </li>
                                <li>
                                    <b>展出時間</b><span> / <br class="visible-xs">10:00~18:00</span>
                                </li>
                            </ul>
                        </aside>
                    </aside>
                    <aside class="show-detail">
                        <figure class="arrow hidden-xs" data-src="img/whatsnew/arrow.svg"></figure>
                        <a class="btn-autoshow" data-spa="auto-show.html" href="auto-show.html">
                            <figure class="arrow visible-xs" data-src="img/arrow.svg"></figure>
                            <figure class="eclipse" data-src="img/whatsnew/eclipse.svg"></figure>Auto Show
                        </a>
                        <a class="btn-survey" href="javascript:">
                            <figure class="arrow visible-xs" data-src="img/arrow.svg"></figure>
                            <figure class="eclipse" data-src="img/whatsnew/eclipse.svg"></figure>問卷調查
                        </a>
                    </aside>
                </aside>
            </section>