[role=content]{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
	font-style: normal;
	text-rendering: optimizelegibility;
	letter-spacing:0.5px;
	word-spacing:0.5px;
	overflow-x:hidden;
	position:relative;
	min-width: 320px;
    background: $body-bg;
	color: $text-color;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    min-height: 100%;
    min-height: 100vh;
    @media screen and (max-width: 800px) {
        background: #04091D;
        font-size: 16px;
    }
    >*{
        opacity: 0;
        filter: blur(5px);
        position: relative;
    }
    &:before{
        content: '';
        @include SubItem();
        background: $body-bg;
    }

    &.loaded{
        >*{
            opacity: inherit;
            transition-duration: 0.5s;
            filter: none;
        }
    }

    figure[data-src], img[data-src]{
        opacity: 0;
        transition-duration: 0.3s;
        &.loaded{
            opacity: 1;
        }
    }
    .viewport{
        width: 100%;
        min-width: 1100px;
        margin: 0 auto;
        position: relative;
        padding-top: 1px;
        margin-top: -1px;
        height: 100%;
        height: 100vh;
        @media screen and (max-width: 1100px) {
            width: 100%;
            min-width: 320px;
            min-height: 100%;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
            padding-bottom: 2em;
        }
    }
    .center{
        width: 1215px;
        margin: 0 auto;
        position: relative;
    }
    .section{
        min-height: 100%;
        min-height: 100vh;
        hr{
            display: block;
        }
        @media screen and (max-width: 800px) {
            overflow-x: hidden;
            max-width: 100%;
        }
        >aside{
            @media screen and (max-width: $screen-xs) {
                max-width: 100%;
                margin: 0 auto;
            }
        }
        .background{
            @include SubItem();
            @media screen and (max-width: 800px) {
                overflow-x: hidden;
                max-width: 100%;
            }
            figure{
                @include SubItem();
                background: center/ cover;
            }
        }
    }
    .main-content{
        @include SubItem();
        filter: none;
        opacity: 1;
        transition: 1s opacity 0s, 1s transform 0s, 0s filter 0s;
        @media screen and (max-width: $screen-xs) {
            max-width: 100%;
            position: relative;
            height: auto;
            min-height: 100%;
            min-height: 100vh;
            min-height: calc( 100vh - 2em);
        }

        &.translateLeft{
            filter: blur(5px) grayscale(100%);
            opacity: 0;
            transform: translateX(50%);
            transition: 1s opacity 0s, 1s transform 0s, 1s filter 0s;
        }
        &.translateRight{
            filter: blur(5px) grayscale(100%);
            opacity: 0;
            transform: translateX(-50%);
            transition: 1s opacity 0s, 1s transform 0s, 1s filter 0s;
        }
    }
}


html{
    &.loading{
        body{
            filter: blur(10px);
            opacity: 0.2;
        }
    }
    body{
        transition: 0.5s blur,opacity 1s;
    }
}
