//** Background color for `<body>`.
$body-bg: #000 !default;
//** Global text color on `<body>`.
$text-color: #fff;
//** Global textual link color.
$link-color: #fff;
//** Link hover color set via `darken()` function.
$link-hover-color: #fff;
//** Link hover decoration.
$link-hover-decoration: none;
$screen-xs-num: 800;
$screen-xs: #{$screen-xs-num}px;
$screen-sm-num: 1100;
$screen-sm: #{$screen-sm-num}px;
$screen-md-num: 1366;
$screen-md: #{$screen-md-num}px;
$screen-lg-num: 1920;
$screen-lg: #{$screen-lg-num}px;
$font-family-sans-serif: 'Noto Sans TC',
'microsoft jhenghei',
'微軟正黑體',
'Helvetica Neue',
Helvetica,
Arial,
sans-serif !default;
$font-family-serif: 'Noto Sans TC',
'Segoe UI',
'Verdana',
'Lantinghei',
'Noto Sans TC',
'microsoft jhenghei',
'微軟正黑體';
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo,
Monaco,
Consolas,
'Courier New',
monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base-num: 18;
$font-size-base: 18px;
$font-size-large: 18px; // ~18px
$font-size-small: 16px; // ~16px
$font-size-h1: percentage(36/$font-size-base-num); 
$font-size-h2: percentage(66/$font-size-base-num); 
$font-size-h3: percentage(60/$font-size-base-num); 
$font-size-h4: percentage(28/$font-size-base-num); 
$font-size-h5: percentage(33/$font-size-base-num); 
$font-size-h6: percentage(30/$font-size-base-num); 
body {
     ::selection,
     ::-moz-selection {
        background: rgba(0, 0, 0, 0.05);
        color: inherit;
    }
    a:focus {
        outline: none;
    }
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
        }
    }
}