.vbox-overlay{
    background: none!important;
    z-index: 2;
    right: 0;
    left: auto;
    width: per(1180, 1920);

}
.vbox-inline{
    // padding: 2em;
    // border: 1px solid #ccc;
    box-shadow: none;
    // border-radius: 6px;
    background-color: transparent!important;
    margin-right: per(240, 1180);
    width: per(940, 1180);
    height: auto!important;

    @media screen and (max-width: 1000px) {
        height: 100%!important;
    }
}
.vbox-content{
    margin: 5em 0 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: "liga";
	font-style: normal;
	text-rendering: optimizelegibility;
	letter-spacing:0.5px;
	word-spacing:0.5px;
	overflow-x:hidden;
	position:relative;
	color: $text-color;
    font-family: $font-family-sans-serif;
    font-size: 18px;
    width: 100%!important;
    
    @media screen and (max-width: 800px) {
        font-size: 16px;
    }
    @media screen and (max-width: 1000px) {
        margin: 0!important;
        height: 100%!important;
    }
    .wrap{
        // width: per(940, 1920);
        margin: 0 auto;
    }
}
.vbox-next,.vbox-prev{
    display: none!important;
}
.vbox-close{
    display: none!important;
}

