[role=a8l]{
    width: per(1260, 1920);
    right: 0;
    top: 0;
    position: fixed;
    height: 0;
    z-index: -1;
    opacity: 0;
    filter: blur(10px) grayscale(100%);
    height: 0;
    transition: 0.5s opacity 0.4s, 0.3s filter 0s;
    @media screen and (max-width: 1440px) {
        width: 100%;
    }
    @media screen and (max-width: 1366px) and (min-width: 1300px) {
        width: 100%;
    }
    @media screen and (max-width: 800px) {
        width: 100%;
        height: 100%;
        padding: 0;
        left: 0;
        margin: 0;
        font-size: vwxs(24,640);
        -webkit-overflow-scrolling: touch;
    }

    .wrap{
        position: absolute;
        right: 0;
        margin-top: 5em;
        width: per(940, 1260);
        margin-right: per(240, 1260);
        padding-bottom: 5em;
        @media screen and (max-width: 1440px) {
            width: 720px;
            margin-right: per(240, 1440);
        }
        @media screen and (max-width: 1366px) and (min-width: 1300px) {
            width: 720px;
            margin: 5em 0 0 per(227,1920);
            left: 25em;
        }
        @media screen and (max-width: 1000px) {
            width: 720px;
            margin: 8em auto;
            position: relative;
        }
        @media screen and (max-width: 800px) {
            position: relative;
            width: 100%;
            margin: 0;
            height: auto;
            .background{
                width: 100%;
                padding-top: per(5765, 640);
                background: left top/cover;
                &~figure{
                    background: none!important;
                }
                &~.youtube, &~figure .youtube{
                    &:before,&:after{
                        display: none;
                    }
                }
            }
        }
    }
    .youtube{
        width: 100%;
        padding-top: per(398, 940);
        position: relative;
        overflow: hidden;
        background: center/ cover;
        cursor: pointer;
        &:after{
            transition-duration: 0s;
            content: '';
            top: 50%;
            left: 50%;
            width: em(34, 18);
            height: em(40, 18);
            margin: em(-20, 18) 0 0 em(-17, 18);
            position: absolute;
            background: url(../img/A8L/play.svg) no-repeat center/ 100%;
            opacity: 0.8;
            z-index: 2;
        }
        &:before{
            background: url(../img/grid.svg) 0/4px auto rgba(0,0,0,0.3);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0.25;
            filter: drop-shadow(0 0 5px #000);
            z-index: 2;
        }
        &:hover{
            &:after{
                opacity: 1;
            }
        }
        &[data-playing="1"]{
            iframe{
                opacity: 1;
                filter: none;
                transition-duration: 0s;
            }
            &:after{
                opacity: 0;
                filter: blur(10px);
                transition-duration: 0.3s;
            }
            figcaption{
                opacity: 0;
                filter: blur(10px);
                transition-duration: 0.3s;
            }
        }
    }
    .km{
        width: 100%;
        padding-top: 0;
        height: auto;
        position: relative;
        overflow: hidden;
        background: center/ cover;
        @media screen and (max-width: 800px) {
            padding: 0;
            margin-top: per(0,640);
            line-height: 2;
        }
        figcaption{
            position: relative;
        }
    }
    .look{
        margin-top: 1em;
        width: 100%;
        padding-top: per(682, 940);
        position: relative;
        // overflow: hidden;
        background: center/ cover;
        @media screen and (max-width: 800px) {
            padding: 0;
            height: auto;
        }
        figure{
            @media screen and (max-width: 800px) {
                width: 100%!important;
                position: relative!important;
                padding: 0!important;
                margin: 0!important;
                height: auto!important;
            }
        }
        figcaption{
            &:before, aside{
                vertical-align: middle;
            }
            @media screen and (max-width: 800px) {
                padding: 0;
                height: aut0;
                padding-top: per(20, 640);
                margin: per(80, 640) auto;
                width: per(540, 640);
            }
        }
    }
    .inside{
        margin-top: 1em;
        width: 100%;
        padding-top: per(682, 940);
        position: relative;
        // overflow: hidden;
        background: center/ cover;
        @media screen and (max-width: 800px) {
            padding: 0;
            height: aut0;
        }
        .youtube{
            position: absolute;
            top: 0;
            margin-top: per(340, 940);
            width: per(600, 940);
            padding-top: per(340, 940);
        }
        figcaption{
            &:before, aside{
                vertical-align: middle;
            }
            @media screen and (max-width: 800px) {
                padding: 0;
                height: auto;
                margin: per(50, 640) auto;
                width: per(540, 640);
            }
        }
    }
    figcaption{
        @include SubItem();
        white-space: nowrap;
        transition-duration: 0s;
        @media screen and (max-width: 800px) {
            position: relative;
            height: auto;
        }
        &:before{
            content:'';
            display: inline-block;
            vertical-align: bottom;
            width: 0;
            overflow: hidden;
            height: 100%;
        }
        aside{
            vertical-align: bottom;
            display: inline-block;
            white-space: normal;
            padding: em(40,18) em(50, 18);
            @media screen and (max-width: 1440px) {
                padding: em(15,18) em(20, 18);
            }
            @media screen and (max-width: 800px) {
                padding: 0;
                width: per(540, 640);
                margin: 0 auto;
                display: block;
            }
        }
        h4{
            font-size: em(36,18);
            padding: 0.4em;
            background: url(../img/A8L/title-bg.svg) no-repeat center/100%;
            
            display: inline-block;
            width: auto;
            @media screen and (max-width: 800px) {
                font-size: em(30, 16);
                font-weight: bold;
                margin-top: 0;
            }
        }
        h5{
            font-size: em(24,18);
            @media screen and (max-width: 800px) {
                font-size: em(18, 16);
                margin-bottom: 1em;
                line-height: 1.6;
            }
        }
        P{
            font-size: em(16,18);
            @media screen and (max-width: 800px) {
                font-size: em(12, 16);
                line-height: 2;
            }
        }
        ol{
            font-size: em(16,18);
            line-height: em(30,16);
            margin-top: 1em;
            padding: 0 0 0 1.5em;
        }
    }
    iframe{
        @include SubItem();
        opacity: 0;
        filter: blur(10px);
        transition-duration: 0.3s;
    }

    figure.inter{
        filter: grayscale(75%);
        transition-duration: 0.3s;
        &:hover{
            filter: none;
            box-shadow: 0 0 0 2px #b40404;
            z-index: 3;
            @media screen and (max-width: 800px) {
                box-shadow: none;
            }
        }
        &.lt,
        &.rt,
        &.lb,
        &.rb{
            position: absolute;
            padding-top: per(340, 940);
            width: per(340, 940);
            background: center/cover;
            @media screen and (max-width: 800px) {
                padding-top: 0;
                width: 100%;
            }
            &.w{
                width: per(600, 940);
                @media screen and (max-width: 800px) {
                    transform: none;
                    width: 100%;
                }
            }
            &:hover{
                width: per(600, 940);
                z-index: 2;
                transform: scale(1.02);
                @media screen and (max-width: 800px) {
                    transform: none;
                    width: 100%;
                }
            }
        }
        &.lt{
            left: 0;
            top: 0;
        }
        &.rt{
            right: 0;
            top: 0;
        }
        &.lb{
            left: 0;
            bottom: 0;
        }
        &.rb{
            right: 0;
            bottom: 0;
        }
        &.hidebg-xs{
            @media screen and (max-width: 800px) {
                background: none!important;
            }
        }
        @media screen and (max-width: 800px) {
            filter: none;
        }
    }

    .back{
        width: em(41, 18);
        height: em(30, 18);
        position: fixed;
        top: 100px;
        margin-right: per(1200, 1920);
        right: 0;
        cursor: pointer;
        filter: drop-shadow(0 0 1px #000);
        img,svg{
            @include SubItem();
        }
        @media screen and (max-width: 1440px) {

            right: 750px;
            margin-right: per(240, 1440);
            left: auto;
            margin-left: auto;
        }
        @media screen and (max-width: 1366px) and (min-width: 1300px) {
            margin-right: 2em;
        }
        @media screen and (max-width: 1000px) {

            left: em(-20.5, 18);
            margin-left: 50%;
        }
        @media screen and (max-width: 800px) {
            top: 1em;
            right: 1em;
            left: auto;
            margin-right: 0;
        }
    }
    .scroll{
        width: em(11, 18);
        height: em(74, 18);
        position: fixed;
        bottom: 100px;
        margin-left: -250px;
        left: 50%;
        cursor: pointer;
        img,svg{
            @include SubItem();
        }
    }
	.logo{
		@media screen and (max-width: 800px) {
            top: 0;
            left: 0;
			width: per(90, 640);
			padding-top: per(30, 640);
			margin-top: per(30, 640);
			margin-left: per(30, 640);
			position: fixed;
		}
		img, svg{
			@include SubImgW();
			.logo{clip-path:url(#logo2); fill: #fff}
		}
	}
    @media screen and (max-width: 800px) {
        .tech{
            margin-top: per(230, 640);
            padding: 0;
        }
        .assistant{
            margin-top: per(0, 640);
            padding: 0;
        }
        
        .poster1{
            width: 100%;
            padding-top: per(360, 640);
            display: block;
            height: 0;
        }
        .poster2{
            margin: per(70,640) auto;
            padding-top: per(360, 640);
            position: relative;
            // img{
            //     width: 100%;
            // }
        }
        .poster3{
            margin: per(70,640) auto 0;
            width: per(580,640);
            position: relative;
            padding-top: per(360, 640);
            text-align: center;
            // img{
            // }
        }
        .poster4{
            margin: per(648,640) auto 0;
            width: per(580,640);
            padding-top: per(360, 640);
            position: relative;
            text-align: center;
            // img{
            //     width: per(580,640);
            // }
        }
        .poster1,
        .poster2,
        .poster3,
        .poster4{
            position: relative;
            img{
                @include SubImgW();
            }
            >div{
                @include SubItem();
            }
            iframe{
                opacity: 1;
                filter: none;
            }
        }
    }
}
