[role=autoshow]{
    .background{
        overflow: hidden;
        backface-visibility: hidden;
        figure.loaded{            
            opacity: 0;
            filter: blur(5px) grayscale(100%);
            transition: 0.5s opacity 0.4s, 0.3s filter 0s ;
            backface-visibility: hidden;
            &:after{
                @include SubItem();
                content: '';
            }
            .yt{
                width: 100%;
                padding-top: per(1080, 1920);
                position: relative;
                &:after{
                    background: url(../img/grid.svg) 0/4px auto rgba(0,0,0,0.3);
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    opacity: 0.25;
                    filter: drop-shadow(0 0 5px #000);
                }
            }
            iframe{
                @include SubItem();
            }
        }
        @media screen and (max-width: 800px) {
            &.visible-xs{
                height:0;
                padding-top: per(1106, 640);
                figure.loaded{
                    filter: none;
                    opacity: inherit;
                    height: 100%;

                }
            }
        }

        figure.scroll{
            width: em(11, 18);
            height: em(74, 18);
            position: fixed;
            bottom: 100px;
            top: auto;
            margin-left: em(5.5, 18);
            left: 50%;
            cursor: pointer;
            img,svg{
                @include SubItem();
            }
        }
    }
    .title{
        top: 50%;
        margin-top: -10em;
        margin-left: per(227,1920);
        height: em(300,60);
        z-index: 2;
        position: absolute;
        width: per(777,1920);
        @media screen and (max-width: 1000px) {
            font-size: em(16,18);
        }
        @media screen and (max-width: 800px) {
            top: 0;
            left: 0;
            margin: per(155, 640) 0 0 per(50, 640);
            font-size: 1em;
            white-space: nowrap;
            position: relative;
            width: auto;
            height: auto;
        }
        h2{
            margin: 0 0 1em;
            white-space: nowrap;
            @media screen and (max-width: 1000px) {
                font-size: em(48,16);
            }
            @media screen and (max-width: 800px) {
                font-size: em(30,16);
            }
        }
        .background{
            top:-10%;
            left: -10%;
            width: 120%;
            height: 120%;            
            background: no-repeat left/ 100%;
        }
    }

    .menu{
        @include Item(777, 0, 0, 0, 0, 227, 1920, 'fit','absolute');
        top: 50%;
        margin-top: -5em;
        font-size: em(16,18);
        width: em(400,16);
        white-space: nowrap;
        letter-spacing: 0;
        word-spacing: 0;
        overflow: visible;
        filter: none;
        opacity: inherit;
        backface-visibility: hidden;
        transition: 0.2s opacity 0s, 0s filter 0s;
        @media screen and (max-width: 1440px) {
            font-size: em(14,18);
        }
        @media screen and (max-width: 800px) {
            width:per(540, 640);
            margin: 0 auto;
            position: relative;
            top: 0;
            height: auto;
        }
        &.idle{
            filter: blur(1px);
            opacity: 0;
            @media screen and (max-width: 800px) {
                filter: none;
                opacity: inherit;
            }

        }
        &:before{
            content:'';
            width: 100%;
            display: block;
            border-bottom: 2px solid currentColor;
            margin-top: 3.4em;
            opacity: 0.3;
            position: absolute;
        }
        label{
            // margin: 0;
            width: 25%;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            span{
                display: inline-block;
                filter: blur(10px);
                backface-visibility: hidden;
                opacity: 0;
                transition-duration: 0.2s;
                overflow: visible;
                &:after{
                    content:'';
                    margin-top: em(10, 18);
                    width: 100%;
                    display: block;
                    border-bottom: 2px solid currentColor;
                }
            }
            &:hover{
                span{
                    filter: none;
                    opacity: inherit;
                    transition: 0.4s opacity 0s, 0s filter 0s;
                }
            }
        }
    }

    .submenu{
        height: 0;
        filter: blur(10px);
        backface-visibility: hidden;
        opacity: 0;
        overflow-y: hidden;
        overflow-x: visible;
        z-index: -1;
        width: 100%;
        label{
            display: block;
            &:hover{
                color: #b40404;
            }
        }
        &.submenu02{
            margin-left: 25%;
        }
        &.submenu03{
            margin-left: 50%;
        }
        &.submenu04{
            margin-left: 75%;
        }
    }

    .summary{
        @include Item(1920, 300, 'auto', 90, 90, 'auto', 1920, 'fit','absolute');
        
        @media screen and (max-width: 800px) {
            margin: 0 auto;
            padding-top: 0;
            position: relative;
            width: per(540, 640);
            height: auto;
            .bg{
                @include SubItem();
                background: center/ cover;
            }
            &:before{
                display: none;
            }
        }
        .subitem{
            transform: translateX(1%);
            opacity: 0;
            filter: grayscale(100%);
            transition: 0.15s linear 0s;
            transition: filter 0.15s linear 0s, opacity 0.15s linear 0s, padding 0s linear 0s, height 0s linear 0s;
            font-size: em(24,18);
            color: #bb0a30;
            white-space: nowrap;
            font-weight: bold;
            >*{
                white-space: normal;
            }
            h4{
                font-size: em(48,24);
                white-space: nowrap;
                color: #bb0a30;
                text-shadow: 0 0 1px currentColor;
            }
            p{
                color: #bb0a30;
            }
            @media screen and (max-width: 800px) {
                font-size: em(12,16);
                position: relative;
                padding-top: per(0, 640);
                height: 0;
                overflow: hidden;
                // transition-duration: 0s;
                h4{
                    font-size: em(24,12);
                }
                >a, >label{
                    @include SubItem();
                    padding: 1em;
                }
                p{
                    position: relative;
                    &:before{
                        content: '';
                        position: absolute;
                        width: 1.6em;
                        height: 5px;
                        right: 0;
                        bottom: -1em;
                        background: #bb0a30;
                    }
                }
            }
        }
        svg,img{
            height: em(18, 16);
            width: em(27, 16);
            margin-top: -0.25em;
            margin-right: 0.5em;
            path {
                fill: #fff;
            }
        }
        span.btn{
            font-weight: 300;
            margin-top: 1em;
            word-spacing: 0.5em;
            line-height: em(45, 16);
            background: #840923;
            padding: 0 em(34.25,16);
            font-size: em(16,24);
            display: inline-block;
            opacity: 0.6;
            position: relative;
            transition-duration: 0.2s; 
            border-radius: 0;
            box-shadow: none;
            @media screen and (max-width: 800px) {
                display: none;
            }
            &:hover{
                background: #bb0a30;
                color: #fff;
            }
            &:before{
                content: '';
                position: absolute;
                width: 1.6em;
                height: 5px;
                right: 0;
                top: -1em;
                background: #bb0a30;
            }
        }
    }

    .viewport{
        z-index: 2;
    }



    #autoshow01:checked ~ .viewport label[for=autoshow01] span,
    #autoshow02:checked ~ .viewport label[for=autoshow02] span,
    #autoshow03:checked ~ .viewport label[for=autoshow03] span,
    #autoshow04:checked ~ .viewport label[for=autoshow04] span,{
        filter: none;
        opacity: inherit;
        height: auto;
        z-index: 1;
        transition: 0.4s opacity 0s, 0s filter 0s;
    }
    #autoshow01:checked ~ .viewport .submenu01,
    #autoshow02:checked ~ .viewport .submenu02,
    #autoshow03:checked ~ .viewport .submenu03,
    #autoshow04:checked ~ .viewport .submenu04{
        filter: none;
        opacity: inherit;
        height: auto;
        z-index: 1;
        margin-top: em(28,18);
        transition: 0.4s opacity 0s, 0s filter 0s, 0s margin 0s;
    }
    #autoshow0101:checked ~ .viewport [for=autoshow0101],
    #autoshow01011:checked ~ .viewport [for=autoshow01011],
    #autoshow0201:checked ~ .viewport [for=autoshow0201],
    #autoshow0202:checked ~ .viewport [for=autoshow0202],
    #autoshow0203:checked ~ .viewport [for=autoshow0203],
    #autoshow0204:checked ~ .viewport [for=autoshow0204],
    #autoshow0205:checked ~ .viewport [for=autoshow0205],
    #autoshow0206:checked ~ .viewport [for=autoshow0206],
    #autoshow0207:checked ~ .viewport [for=autoshow0207],
    #autoshow0208:checked ~ .viewport [for=autoshow0208],
    #autoshow0209:checked ~ .viewport [for=autoshow0209],
    #autoshow0301:checked ~ .viewport [for=autoshow0301],
    #autoshow0302:checked ~ .viewport [for=autoshow0302],
    #autoshow0401:checked ~ .viewport [for=autoshow0401]{
        color: #bb0a30;
    }
    
    #autoshow0101:checked ~ .background [data-id=autoshow0101],
    #autoshow0201:checked ~ .background [data-id=autoshow0201],
    #autoshow0202:checked ~ .background [data-id=autoshow0202],
    #autoshow0203:checked ~ .background [data-id=autoshow0203],
    #autoshow0204:checked ~ .background [data-id=autoshow0204],
    #autoshow0205:checked ~ .background [data-id=autoshow0205],
    #autoshow0206:checked ~ .background [data-id=autoshow0206],
    #autoshow0207:checked ~ .background [data-id=autoshow0207],
    #autoshow0208:checked ~ .background [data-id=autoshow0208],
    #autoshow0209:checked ~ .background [data-id=autoshow0209],
    #autoshow0301:checked ~ .background [data-id=autoshow0301],
    #autoshow0302:checked ~ .background [data-id=autoshow0302],
    #autoshow0401:checked ~ .background [data-id=autoshow0401]{
        filter: none;
        opacity: inherit;
        transition: 0.4s opacity 0.4s, 0s filter 0s ;
        z-index: 1;
    }
    #autoshow01011:checked ~ .background .overlay{
        filter: none;
        opacity: inherit;
        transition: 0.4s opacity 0.4s, 0s filter 0s ;
        z-index: 1;
        background-size: auto;
        mask-image: url(../img/background-clip.png);
        mask-size: auto 100%;
        mask-position: right top;
        mask-repeat: no-repeat;
        &:after{
            @include SubItem();
            content: '';
            // background: rgba(0,0,0,0.6);
        }
    }
    #autoshow01011:checked ~ [role=a8l]{
        filter: none;
        opacity: inherit;
        height: 100%;
        overflow: auto;
        transition: 0.4s opacity 0.4s, 0s filter 0s ;
        z-index: 2;
        @media screen and (max-width: 800px) {
            width: 100%;
            height: 100%;
            padding: 0;
            left: 0;
            margin: 0;
            z-index: 12;
        }
    }
    #autoshow01011:checked ~ .background [data-id=autoshow0101]{
        filter: grayscale(100%) blur(5px);
        opacity: inherit;
        transition: 0.4s opacity 0s, 0.3s filter 0s ;
        z-index: 1;
    }
    #autoshow0101:checked ~ .viewport [data-id=autoshow0101],
    #autoshow0201:checked ~ .viewport [data-id=autoshow0201],
    #autoshow0202:checked ~ .viewport [data-id=autoshow0202],
    #autoshow0203:checked ~ .viewport [data-id=autoshow0203],
    #autoshow0204:checked ~ .viewport [data-id=autoshow0204],
    #autoshow0205:checked ~ .viewport [data-id=autoshow0205],
    #autoshow0206:checked ~ .viewport [data-id=autoshow0206],
    #autoshow0207:checked ~ .viewport [data-id=autoshow0207],
    #autoshow0208:checked ~ .viewport [data-id=autoshow0208],
    #autoshow0209:checked ~ .viewport [data-id=autoshow0209],
    #autoshow0301:checked ~ .viewport [data-id=autoshow0301],
    #autoshow0302:checked ~ .viewport [data-id=autoshow0302],
    #autoshow0401:checked ~ .viewport [data-id=autoshow0401]{
        filter: none;
        opacity: inherit;
        transition: filter 0.25s linear 0.3s, opacity 0.25s linear 0.3s, padding 0s linear 0s, height 0s linear 0s;
        transform: none;
        z-index: 1;
    }

    @media screen and (max-width: 800px) {
        #autoshow01:checked ~ .viewport [data-id=autoshow0101],
        #autoshow02:checked ~ .viewport [data-id=autoshow0201],
        #autoshow02:checked ~ .viewport [data-id=autoshow0202],
        #autoshow02:checked ~ .viewport [data-id=autoshow0203],
        #autoshow02:checked ~ .viewport [data-id=autoshow0204],
        #autoshow02:checked ~ .viewport [data-id=autoshow0205],
        #autoshow02:checked ~ .viewport [data-id=autoshow0206],
        #autoshow02:checked ~ .viewport [data-id=autoshow0207],
        #autoshow02:checked ~ .viewport [data-id=autoshow0208],
        #autoshow02:checked ~ .viewport [data-id=autoshow0209],
        #autoshow03:checked ~ .viewport [data-id=autoshow0301],
        #autoshow03:checked ~ .viewport [data-id=autoshow0302],
        #autoshow04:checked ~ .viewport [data-id=autoshow0401]{
            filter: none;
            opacity: inherit;
            transition: filter 0.25s linear 0.3s, opacity 0.25s linear 0.3s, padding 0s linear 0s, height 0s linear 0s;
            transform: none;
            padding-top: per(304, 640);
            z-index: 1;
            &+.subitem{
                margin-top: 1em;
            }
        }
    }
    
}
