footer {
    position: fixed!important;
    left: em(40,12);
    bottom: em(40,12);
    color: #fff;
    font-size: em(12,18);
    line-height: 1;
    z-index: 10;
    p{
        margin: 0;
    }
    @media screen and (max-width: 800px) {
        font-size: em(16,18);
        transform: scale(0.75);
        bottom: em(12,12);
        p{
            margin: 0 auto;
        }
    }
}