header {
	z-index: 10;
	position: fixed;
	&:hover{
	}
	@media screen and (max-width: 800px) {
		height: 2.3em;
		z-index: 10;
	}
	nav{
		float: right;
		font-size: em(16, 18);
		margin-top: em(40, 16);
		margin-right: em(40, 16);
		&:before{
		}
		a{
			// text-shadow: 0 0 3px #000;
			&:hover, &.active{
				@media screen and (max-width: 800px) {
				}
			}
			@media screen and (max-width: 800px) {
			}
			&+a{
				margin-left: 1em;
			}
		}
		@media screen and (max-width: 800px) {
			background: rgba(0,0,0,0.6);
			height: 0;
			font-size: 1em;
			width: 100%;
			padding-top: 0;
			margin: 0;
			&.vertical-middle{
				text-align: right; 
				>a{
					display: none;
					width: 100%;
					text-align: center; 
					font-size: 1.2em;
					line-height: 3;
					&+a{
						&:before{
							width: 90%;
							left: 5%;
							height: 1px;
							content:'';
							display: block;
							background: #fff;
						}
					}
				}
				&:after{
					content: '';
					background: url(../img/bur.svg) no-repeat center/ 100%;
					width: per(30, 640);
					height: per(18, 640);
					margin-top: em(15, 16);
					margin-right: em(15, 16);
					position: fixed;
					top: 0;
					right: 0;
				}
			}

			&.in{
				padding-top: 3em;
				height: auto;
				>a{
					display: block;
				}
				&:before{
					opacity: 1;
					filter: none;
				}
				&:after{
					// opacity: 0;
					// filter: blur(5px);
				}
			}
		}

	}
	.logo{
		font-size: 1em;
		width: em(72, 18);
		height: em(24, 18);
		margin-top: em(40, 18);
		margin-left: em(40, 18);
		position: absolute;
		filter: drop-shadow(0 0 1px rgba(255,255,255,0.8));
		@media screen and (max-width: 800px) {
			width: per(90, 640);
			padding-top: per(30, 640);
			margin-top: em(15, 16);
			margin-left: em(15, 16);
			position: fixed;
		}
		img, svg{
			@include SubImgW();
			.logo{clip-path:url(#logo2); fill: #fff}
		}
	}
	&+[role=kv]{
	}
}
&.fixed-menu{
}
