[role=whatsnew]{
    .title{
        top: 50%;
        margin-top: -10em;
        margin-left: per(227,1920);
        height: em(300,60);
        z-index: 2;
        position: absolute;
        width: per(777,1920);
        h2{
            margin: 0 0 1em;
            white-space: nowrap;
            @media screen and (max-width: 800px) {
                font-size: em(30,16);
            }
        }
        .background{
            top:-10%;
            left: -10%;
            width: 120%;
            height: 120%;            
            background: no-repeat left/ 100%;
        }
        @media screen and (max-width: 800px) {
            top: 0;
            width: auto;
            margin-top: per(180, 640);
            margin-left: per(50, 640);
            margin-bottom: per(120, 640);
            position: relative;
        }
    }
    .background{
        @media screen and (max-width: 800px) {
            overflow-x: hidden;
            max-width: 100%;
        }
        #a8640{
            background: center top/cover;
        }
        #tp{
            width: 234px;
            height: 57px;
            top: 50%;
            left: 50%;
            margin: -1.5em 0 0 -22.5em;
            @media screen and (max-width: 800px) {
                top: 0;
                left: 0;
                margin: per(407, 640) 0 0 per(135, 640);
                width: per( 375, 640);
            }
        }
        #kh{
            width: 424px;
            height: 58px;
            top: 50%;
            left: 50%;
            margin: 8.5em 0 0 -22.5em;
            @media screen and (max-width: 800px) {
                top: 0;
                left: 0;
                margin: per(875, 640) 0 0 per(30, 640);
                width: per( 594, 640);
                padding-top: per(80, 640);
                height: 0;
            }
        }
        i{
            color: transparent;
            font-size: em(60,18);
            font-weight: 500;
            line-height: 1;
        }
    }
    .viewport{
        padding-bottom: 5em;
    }
    .show-detail{
        z-index: 2;
        position: absolute;
        width: per(1100,1920);
        top: 50%;
        margin-top: 0;
        left: 50%;
        margin-left: em(-350, 16);
        font-size: em(16,18);
        @media screen and (max-width: 800px) {
            transform-origin: center top;
            // transform: scale(0.75);
            width: 100%;
            min-width: 320px;
            top: 0;
            left: 0;
            margin: 0 auto;
            position: relative;
            text-align: center;
        }
        h3{
            margin: 0;
            font-size: em(22,16);
            line-height: em(30,22);
            white-space: nowrap;
            font-weight: 600;
            width: 5em;
            @media screen and (max-width: 800px) {
                font-size: em(24,16);
                width: 100%;
                min-width: 320px;
                top: 0;
                left: 0;
                margin: 0 auto;
                position: relative;
                text-align: center;
            }
            .l{
                font-size: em(26,22);
                line-height: em(30,26);
            }
            b{
                // text-shadow: 2px 2px 4px #bb0a30;
                position: relative;
                &:after{
                    content: attr(title);
                    position: absolute;
                    right: -2px;
                    bottom: -2px;
                    color: #bb0a30;
                    z-index: -1;
                }
            }
        }
        ul{
            @media screen and (max-width: 800px) {
                margin-top: 1.5em;
            }
            li{
                line-height: em(31,16);
                
                @media screen and (max-width: 800px) {
                    line-height: 1.6;
                    &+li{
                        margin-top: 1em;
                    }
                }
            }
        }
        .row{
            +.row{
                padding-top: 5em;
                @media screen and (max-width: 800px) {
                    padding-top: 2em;
                }
            }
        }
        .arrow{
            width:em(710, 16);
            padding-top: em(88, 16);
            margin-top: 8em;
            position: absolute;
            top: 0;
            left: 0;
            img, svg{
                @include SubItem();
                .arrow-line{fill:#BB0A30;}
                .arrow-tri{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#BB0A30;stroke-miterlimit:10;}
                .arrow-tri2{fill-rule:evenodd;clip-rule:evenodd;fill:#BB0A30;}
            }
        }
        a.btn-survey{
            top: 50%;
            left: 0;
            margin: 14em 0 0 em(815, 16);
            position: absolute;
            color: #bb0a30;
            font-size: em(16,18);
            white-space: nowrap;
            &:hover{
                .eclipse{
                    opacity: inherit;
                    filter: none;
                    transition-property: opacity;
                }
            }
            .eclipse{
                position: absolute; 
                left: em(-120, 18);
                top: em(-10, 18);
                width: em(183, 18);
                height: em(49, 18);
                opacity: 0;
                filter: blur(5px);
                transition-duration: 0.15s;
                transition-property: filter, opacity;
                img, svg{
                    @include SubItem();
                    .eclise,.eclise20{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#BB0A30;stroke-miterlimit:10;}
                    .eclise20{
                        opacity: 0.2;
                    }
                }
            }
            @media screen and (max-width: 800px) {
                font-size: em(18, 16);
                .eclipse{
                    transform: scale(0.9);
                    transform-origin: left top;
                }
            }
        }
        a.btn-autoshow{
            top: 50%;
            left: 0;
            color: #bb0a30;
            margin: 8.5em 0 0 em(815, 16);
            position: absolute;
            font-size: em(16,18);
            white-space: nowrap;
            &:hover{
                .eclipse{
                    opacity: inherit;
                    filter: none;
                    transition-property: opacity;
                }
            }
            .eclipse{
                position: absolute; 
                left: em(-120, 18);
                top: em(-10, 18);
                width: em(183, 18);
                height: em(49, 18);
                opacity: 0;
                filter: blur(5px);
                transition-duration: 0.15s;
                transition-property: filter, opacity;
                img, svg{
                    @include SubItem();
                    .eclise,.eclise20{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#BB0A30;stroke-miterlimit:10;}
                    .eclise20{
                        opacity: 0.2;
                    }
                }
            }
        }
        a.btn-autoshow, a.btn-survey{
            @media screen and (max-width: 800px) {
                position: relative;
                top: auto;
                left: 0;
                margin: 0 0 0 50%;
                width: 50%;
                display: block;
                height: 3.5em;
                width: 50%;
                font-weight: bold;
                text-align: left;
                .eclipse{
                    position: absolute;
                    opacity: inherit;
                    filter: none;
                    left: -25%;
                    margin-left: 0;
                    width: 3em;
                }
                .arrow{
                    width: per(188,320);
                    padding-top: per(9, 320);
                    top: 0;
                    left: per(-204,320);
                    margin-top: per(14, 320);
                    img, svg{
                        .kvarrow1{fill:#bb0a30;}
                        .kvarrow2{fill-rule:evenodd;clip-rule:evenodd;fill:#bb0a30;}
                        @include SubItem();
                    }
                }

                &.btn-autoshow{
                    @media screen and (max-width: 800px) {
                        font-size: em(16, 16);
                        margin-top: 3em;
                    }
                }
            }
        }
    }
}
