[role=whatsnew]{
    .title{
        top: 50%;
        margin-top: -10em;
        margin-left: per(227,1920);
        height: em(300,60);
        z-index: 2;
        position: absolute;
        width: per(777,1920);
        h2{
            margin: 0 0 1em;
            white-space: nowrap;
        }
        .background{
            top:-10%;
            left: -10%;
            width: 120%;
            height: 120%;            
            background: no-repeat left/ 100%;
        }
    }
    .background{
        #tp{
            width: 234px;
            height: 57px;
            top: 50%;
            left: 50%;
            margin: -1.5em 0 0 -22.5em;
        }
        #kh{
            width: 424px;
            height: 58px;
            top: 50%;
            left: 50%;
            margin: 8.5em 0 0 -22.5em;
        }
        i{
            color: transparent;
            font-size: em(60,18);
            font-weight: 500;
            line-height: 1;
        }
    }
    .show-detail{
        z-index: 2;
        position: absolute;
        width: per(1100,1920);
        top: 50%;
        margin-top: 0;
        left: 50%;
        margin-left: em(-350, 16);
        font-size: em(16,18);
        h3{
            margin: 0;
            font-size: em(26,16);
            line-height: em(30,26);
            white-space: nowrap;
            font-weight: 600;
            width: 5em;
            b{
                // text-shadow: 2px 2px 4px #bb0a30;
                position: relative;
                &:after{
                    content: attr(title);
                    position: absolute;
                    right: -2px;
                    bottom: -2px;
                    color: #bb0a30;
                    z-index: -1;
                }
            }
        }
        ul{
            li{
                line-height: em(32,16);
            }
        }
        .row{
            +.row{
                padding-top: 5em;
            }
        }
        .arrow{
            width:em(710, 16);
            padding-top: em(88, 16);
            margin-top: 8em;
            position: absolute;
            top: 0;
            left: 0;
            img, svg{
                @include SubItem();
            }
        }
        .eclipse{
            width: em(57,16);
            padding-top: em(49, 16);
            margin-top: 6.8em;
            position: absolute;
            top: 0;
            left: em(665, 16);
            img, svg{
                @include SubItem();
                .eclise20{
                    opacity: 0.2;
                }
            }
        }
        a.btn-survey{
            top: 50%;
            left: 0;
            margin: 14em 0 0 em(815, 16);
            position: absolute;
            color: #bb0a30;
            font-size: em(16,18);
        }
        a.btn-autoshow{
            width: 822px;
            height: 49px;
            top: 50%;
            left: 0;
            color: #bb0a30;
            margin: 8.5em 0 0 em(815, 16);
            position: absolute;
            font-size: em(16,18);
        }
    }
}
